{
    "presets": ["@babel/preset-env"],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "0": "./src"
                }
            }
        ]
    ]
}
